{%extends 'AW/base.html'%}


{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img style="width: 200px; height: 200px; border-radius:50%; margin-left: 100px" src="{{picture.photo.url}}"
                class="img-responsive" alt="Image">

        </div>
        <div class="col-sm-4 col-md-4">
            <h2>{{picture.bio}}</h2>
            <hr>

        </div>
    </div>

    {%for proj in post %}

    <div class="">
        <div class="panel">
            <div>
                <p class="panel panel-heading">{{proj.title}}</p>
                <div class="panel panel-body">
                    <a href="/project/{{proj.id}}"> <img src="{{proj.image.url}}" alt="" height="250" id="img"></a>
                    <p>{{proj.description}}</p>
                </div>
                <a href="/grade/{{proj.id}}" class="panel panel-footer"> <button>Grade</button> </a>
            </div>
        </div>
    </div>
    {%empty%}
    <h2>No projects yet</h2>

    {%endfor%}

    {% endblock %}