{% load bootstrap4 %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Post</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:2px solid black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-family: billabong;font-size:40px;color:black;">MyGram</a>
    </div>
    <div class="navbar-right text-center" style="margin:0 auto;">
    
  </div>
    <div class="d-block">
        {% if user.is_authenticated %}
        <div >
            <a href="{%url 'profile' user.id %}" class="d-block"><i class="glyphicon glyphicon-user" style="color:black;"></i></a>
          

        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" class="d-inline"><i class="glyphicon glyphicon-option-vertical" style="color:black;margin-top:10px;margin-right: 5px;"></i>
                      
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'home'%}">Home</a>
              </li>

                <li>
                    <a href="{%url 'edit_profile' user.id %}">Edit Profile</a>
                  </li>
            
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        {% endif %}
      </div>
    </div>
    </div>
    
  </div>
  
</nav>
<div class="container">
  <form  action="{%url 'edit_profile' user.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
</div>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

</html>